n8n/demo-data/workflows/localRAG.json
{
  "name": "localRAG",
  "nodes": [
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "b2f242d6-b541-4c48-aec3-76d97690bf1d",
      "name": "When chat message received",
      "webhookId": "57fbbdea-84e1-4618-bc26-597f164cbc64"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $json.sessionId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "8cf4224e-f174-4594-a970-b7cb6638d957",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "7CNjCGKInIemciPH",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        144,
        208
      ],
      "id": "24ee5d60-a450-4e1a-80f3-665a51b456d9",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "rtpBMHl8ICHEupun",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        208,
        352
      ],
      "id": "a98e34f5-482e-481a-bb21-25c9e173ce38",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        144,
        560
      ],
      "id": "f9900b2a-f510-478e-824b-98b5a71746fa",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        560,
        0
      ],
      "id": "7668c4bc-e5f2-4cfd-b2eb-a3ae2c35f27e",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        560,
        208
      ],
      "id": "a31340d2-4aea-4ceb-9cb3-1cb27144def8",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "rtpBMHl8ICHEupun",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "description": "use database to answer the user's questions"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        720,
        208
      ],
      "id": "5ba00c88-13a5-4eef-9cf9-778c5a767f7e",
      "name": "Answer questions with a vector store",
      "notesInFlow": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        896,
        464
      ],
      "id": "4750cf91-3cdf-4b87-952f-c3eec8690d17",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "rtpBMHl8ICHEupun",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $('When chat message received').item.json.sessionId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        608,
        464
      ],
      "id": "6e33b014-1851-4187-94d7-7f7fa1545bd5",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "7CNjCGKInIemciPH",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        608,
        656
      ],
      "id": "14d21628-c55d-4508-9891-f095d181c156",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "rtpBMHl8ICHEupun",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "68da5bfa-bedb-476c-bea4-ae18790bce62",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "nodeGroups": [],
  "id": "B69QT7wHIUKI48g1",
  "tags": []
}